<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the top navigation bar */

</style>

<div class="topnav">
<%= form_tag("/home/show_search", method: "post") do%>
  <br>
  <div style="text-align: center;">
    <b style="color: #ca6f1e"><%= link_to 'Home', root_path %></b>
    <%= text_field_tag :search, nil, placeholder: 'Search for brands, products and more', size: 75 %>
    <%= submit_tag "search"%> 
    <% if user_signed_in? %>
      <b><%= link_to "sign out", destroy_user_session_path , method: :delete, :style=>'color:white;' %></b>
      <b><%= link_to 'Cart', home_cart_path%></b> 
      <b><%= link_to 'Profile', edit_user_registration_path %></b> 
        <% if current_user.role_id == 1 %>
        <b><%= link_to "showBrand",brands_show_path %></b>&nbsp;&nbsp;
        <b><%= link_to 'Add New Product', products_new_path%></b>
        <% end %>
      <% else%>
        <b><%= link_to 'Login & SignUp', new_user_session_path %></b>
        <b><%= link_to 'Cart', home_cart_path%></b> </div>
    <% end %>
  </div>
  <% end %>
</div>