<% if user_signed_in? %>
    <header>
      <div style="text-align: left">
        <h4 style="text-align: left;"><%= link_to "sign out", destroy_user_session_path , method: :delete, :style=>'color:white;' %><br>
        <%= current_user.email %>&nbsp;&nbsp;<br>
        welcome <%= current_user.name %></h4>&nbsp;&nbsp;
      </div>
    </header>

<% else %>
    <%= link_to "sign in",new_user_session_path %>
    
    <%= link_to "sign up",new_user_registration_path %>
    
<% end %>