

<div class="row">
  <% @all_cart.each do |cart| %>
    <%  if current_user.id == cart.user_id %>
      <% pp = cart.product_id %>
      <% all = Product.find(pp) %>
        <% if all.quantity > 0%>
          <div class="col-sm-4">
          <div style="border-style: inset;text-align: justify;border-color: #d7bde2;text-align-last: center">
            <%= image_tag all.images.first.thumb.url.to_s %><br>
            <%= all.name %><br>
            <%= all.price %><br>
            <%= link_to 'Remove', cart_remove_path(id: pp), method: :delete, class: "btn btn-primary"%>
            <%= link_to 'Buy', buy_product_path(id: pp), class: "btn btn-primary"%>
          </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
<% if @all_cart.count == 0%>
  <%  flash[:notice] = "Your Shopping Cart is empty..." %>
<% end %>