<% @total = @cart_product.price.to_i * @quantity_params.to_i  %>
<% @current_user = current_user.name%>
<% data = current_user.email %>
<% if @gmail.deliver do%>
<% to "#{}{data}"%>
<% subject "Your Order Is Confirmed"  %>
<% end%>
<% flash[:notice] = "Your Order Is Confirmed"%>
<% end %>
<p>
<% @current_user = current_user.name %>
<%= link_to "Printable Receipt (PDF)", home_pdf_show_path(@cart, format: 'pdf', id: @cart_product.id, total: @total, quantity: @quantity_params )%>
</p>

<h5 style="color: #c86e5b">Your order is confirmed</h5>

<div class="container">
  <h4 class="card-title"><%= current_user.name%></h4>
  <h2>Product Details</h2>
  <div class="card" style="width:400px">
    <h4 class="card-img-top"><%= image_tag @cart_product.images.first.thumb.url.to_s %></h4>
    <div class="card-body">
      <p class="card-text"><%= @cart_product.name%></p>
      <p class="card-text">Price - <%= @cart_product.price%></p>
      <p class="card-text">Quantity - <%= @quantity_params%></p>
    </div>
  </div>
</div>