<%= link_to 'Back', root_path %>

<% if @products.present?%>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-3" style="">
      <div style="border-style: inset;text-align: justify;border-color: #d7bde2;text-align-last: center">
      <%= image_tag product.images.first.thumb.url %><br>
      <div style="color:  #bfc9ca "><b><%= @proBrand.name%></b></div><br>
      <%= product.name %><br>
      Price : <%= product.price %><br>
      Descrption : <%= product.description %><br>
      <%= image_tag @proBrand.logo.small_thumb.url %><br>
      <%= link_to 'Add to cart', add_to_cart_path(id: product.id), class: "btn btn-primary"%>
      <%= link_to 'Buy', home_buy_product_path(id: @products.ids), class: "btn btn-primary"%>
      </div><br>
    </div>
  <% end%>
</div>
<% elsif @brands.present? %>

  <% @brand.each do |brand| %>
   <div class="col-sm-3" style="">
     <div style="border-style: inset;text-align: justify;border-color: #d7bde2;text-align-last: center">
      <%= image_tag brand.images.first.thumb.url %><br>
      <div style="color: #85929e"><%= @brands.first.name%></div>
      <%= brand.name %><br>
      <%= brand.description %><br>
      <%= image_tag @brands.first.logo.small_thumb.url %><br>
      <%= link_to 'Add to cart', add_to_cart_path(id: brand.id), class: "btn btn-primary"%>
      <%= link_to 'Buy', home_buy_product_path(id:brand.id), class: "btn btn-primary"%>
      </div><br>
    </div>
  <% end%>
  </div>
<%end%>