<% if @products.present? %>
  

 <div class="row">
  <% @products.each do |product| %>
  
    <div class="col-sm-3" style="">
    <div style="border-style: inset;text-align: center;border-color: #d7bde2">
    <%= image_tag product.images.first.thumb.url %><br>
    
    <%= product.name %><br>
    Price : <%= product.price %><br>
    Descrption : <%= product.description %><br><br>
    <%= @proBrand.name%><br>
    <%= image_tag @proBrand.logo.thumb.url %><br><br>
    </div><br>


  </div>
  <% end%>

  </div>
  <% elsif @brands.present? %>
  
  <% @brand.each do |brand| %>
   <div class="col-sm-3" style="">
   <div style="border-style: inset;text-align: center;border-color: #d7bde2">
    <%= image_tag brand.images.first.thumb.url %><br>
    <%= brand.name %><br>
    <%= brand.description %><br><br>
    <%= @brands.first.name%><br>
    <%= image_tag @brands.first.logo.thumb.url %><br>
    </div><br>
    </div>
  <% end%>
  </div>
<%end%>