
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 500px; 
  }
</style>
</head>
<body>
<div class="content">

<div class="row">
    
  	<% @products.each do |product| %>
  	<div class="col-sm-4" style="">
      <div style="border-style: inset;text-align: justify;border-color: #d7bde2;text-align-last: center">
      <% if product.quantity.eql?(0) %>
        <%= image_tag product.images.first.thumb.url %><br>
        <%= product.name %><br>
        <%= product.price %><br>
        <%= product.description %><br>
        <%= label_tag "product not available"%>
      <%#= link_to 'Add to cart', add_to_cart_path(id:product.id), class: "btn btn-primary"%>
      <% else %>
        <%= image_tag product.images.first.thumb.url %><br>
        <%= product.name %><br>
        <%= product.price %><br>
        <%= product.description %><br>
        <%= link_to 'Add to cart', add_to_cart_path(id:product.id), class: "btn btn-primary"%>
        <%= link_to 'Buy', buy_product_path(product.id), class: "btn btn-primary"%>
      <% end%>
      </div>  
    </div>
    <% end%>
   
</div>
<br>
</div>
<%= paginate @products %>