<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1 style="color:#000080"><center>Update Edit</center></h1>
<%= form_for @brand, url: {:controller => :brands, action: :update}, html: { method: :put } do |form| %>
    <p>
    <%= form.label :Brand_name %><br>
    <%= form.text_field :name, placeholder: "Enter Name" %>
    </p>
    <p>
    <%= form.label :Logo %><br>
    <%= form.file_field :logo%><br>
    </p>

    <p>
    <%= form.label :Description %><br>
    <%= form.text_field :description, placeholder: "Enter description" %>
    </p>
    <p>
    <%= form.button "Update"%>
    </p>
<% end %>
</body>
</html>