<%= render "shared/header"%>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1 style="color:#000080">Create Brand</h1>
<%= form_for @brand, url: brands_new_path, html: { method: :post, :multipart => true } do |form| %>
    <p>
    <%= form.label :Brand_name %><br>
    <%= form.text_field :name, placeholder: "Enter Name" %>
    </p>

    <p>
    <%= form.label :Description %><br>
    <%= form.text_field :description, placeholder: "Enter description" %>
    </p>

    <p>
    <%= form.label :Logo %><br>
    <%= form.file_field :logo%><br>
    </p>

    <p>
    <%= form.button "Add"%>
    </p>
<% end %>
</body>
</html>
<%= render "shared/footer"%>