
<%= link_to 'Back', root_path %>
<h1>Listing Brands</h1>
<%= link_to "Create Brand", brands_new_path%>
<table>
  <tr>
    <th>name</th>
    <th>description</th>
    <th>Logo</th>
    <th></th>
  </tr>
 
  <% @brand.each do |brand| %>
    <tr>
      <td><%= brand.name %></td>
      <td><%= brand.description %></td>
      <td><%= image_tag brand.logo.thumb.url.to_s %></td>
      <td><%= link_to 'Update', brands_edit_path(brand)%></td>
      <td><%= link_to 'Delete', brands_delete_path(brand),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= render "shared/footer"%>