
<%= link_to 'Back', root_path %>
<h1 style="color:#000080">Edit Product</h1>
<%= form_for @product, url: {:controller => :products, action: :update}, html: { method: :put} do |form| %>
     <% if @product.errors.any? %>
    <div id="error_explanation">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    <p>
    <%= form.label :Product_name %><br>
    <%= form.text_field :name, placeholder: "Enter Product Name" %>
    </p>

    <p>
    <%= form.label :Price %><br>
    <%= form.text_field :price, placeholder: "Enter Price" %>
    </p>

    <p>
    <%= form.label :Quantity %><br>
    <%= form.text_field :quantity, placeholder: "Enter Quantity" %>
    </p>

    <p>
    <%= form.label :Description %><br>
    <%= form.text_field :description, placeholder: "Enter Product Description" %>
    </p>

    <p>
    <%= form.label :Size %><br>
    <%= form.text_field :size, placeholder: "Enter Product Size" %>
    </p>

    <p>
    <%= form.label :Images %><br>
    <%= form.file_field :images, multiple: true %>
    </p>

    <%= form.button "Edit Product"%>
    </p>
<% end %>
<%= render "shared/footer"%>