<h1 style="color:#000080">Create Product</h1>
<%= form_for @product, url: products_new_path, html: { method: :post} do |form| %>
    <p>
    <%= form.label :Product_name %><br>
    <%= form.text_field :name, placeholder: "Enter Product Name" %>
    </p>

    <p>
    <%= form.label :Price %><br>
    <%= form.text_field :price, placeholder: "Enter Price" %>
    </p>

    <p>
    <%= form.label :Quantity %><br>
    <%= form.text_field :quantity, placeholder: "Enter Quantity" %>
    </p>

    <p>
    <%= form.label :Description %><br>
    <%= form.text_field :description, placeholder: "Enter Product Description" %>
    </p>

    <p>
    <%= form.label :Size %><br>
    <%= form.text_field :size, placeholder: "Enter Product Size" %>
    </p>

    <p>
    <%= form.select(:brand_id, Brand.all.map{|b| [b.name, b.id]},{prompt: 'Select Brand'}) %>
    </p>

    <p>
    <%= form.file_field :images, multiple: true %>
    </p>

    <%= form.button "Create Product"%>
    </p>
<% end %>